# Núcleo de la Aplicación
streamlit
pandas

# Base de Datos y Autenticación (SmartLS)
firebase-admin
google-cloud-firestore
google-auth
google-auth-oauthlib

# Futura Integración con Google Sheets y Excel
gspread
google-api-python-client
openpyxl

# Conectividad y Webhooks (Alertas a funcionarios)
requests
python-dotenv

# Manejo de Imágenes (Render de Serenito) y Gráficos (Dashboard)
Pillow
plotly
